<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<welcome-file-list>
		<welcome-file>/user/login.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<session-config>
		<session-timeout>0</session-timeout>
	</session-config>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
		<servlet-class>com.test.servlet.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserServlet</servlet-name>
		<url-pattern>*.user</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BoardServlet</servlet-name>
		<servlet-class>com.test.servlet.BoardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BoardServlet</servlet-name>
		<url-pattern>*.board</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CalServlet</servlet-name>
		<servlet-class>com.test.servlet.CalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CalServlet</servlet-name>
		<url-pattern>*.cal</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GoodsServlet</servlet-name>
		<servlet-class>com.test.servlet.GoodsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GoodsServlet</servlet-name>
		<url-pattern>*.goods</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TestServlet</servlet-name>
		<servlet-class>com.test.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TestServlet</servlet-name>
		<url-pattern>*.test</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VendorServlet</servlet-name>
		<servlet-class>com.test.servlet.VendorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VendorServlet</servlet-name>
		<url-pattern>*.vendor</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FormTest</servlet-name>
		<servlet-class>com.test.servlet.test.FormServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FormTest</servlet-name>
		<url-pattern>*.formtest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>com.test.servlet.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/upload</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>FilterTest</filter-name>
		<filter-class>com.test.filter.CustomFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>FilterTest</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>